

.productionContainer { 
    height: 100%;
    width: 100%;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;     
    animation: leftToRight .2s ease ;
}

.productionContainer::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url('../assets/3.jpg');
    filter:hue-rotate(900deg);
    opacity: .1;
    z-index: -2;
}

.productionContainer > h2 {
    font-size: 6rem;
    font-weight: 200;
    margin: .6em 0;
    border: .1px solid white;
    border-top: none;
    border-left: none;
   
}

.productionBody {
    display: flex;  
    justify-content: space-around;
    align-items: center;
}

.decorationDiv {
    
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    position: relative;
    /* transform-style: preserve-3d; */
    perspective: 1000px;
    /* border: 1px solid red; */

    overflow: hidden;
} 

.decorationDiv::before , .decorationDiv::after {
    content: '';

    text-align: center;
    color: rgb(0, 0, 0);
    
    display:flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 100%;
    background-color: white;
    position: absolute;
    transform-style: preserve-3d; 
    overflow: hidden;

}

.decorationDiv::after {
    content:'';
    background: url('../assets/logo-white.png');
    background-size: 6em;
    background-size: cover;
    font-size: 2rem;
    animation: decorOne  8s ease-in-out ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    
}

.decorationDiv::before {
    z-index: 10;
   /* top:10%; */
    
    font-size: 1rem;
    /* backface-visibility: hidden; */
    /* top: 40%; */
    animation: decorTwo  10s ease-in-out ; 
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    width: 100%;
    /* rotate:90deg; */

    /* width: 10rem;
    height: 10rem; */
    /* border-radius: 100%; */   
}


.infoContainer {

    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.goBack {
    padding: .5em 1.4em;
    margin: 0;
    border: 1px solid rgb(168, 168, 168);
    position: absolute;
    left: 0;
    top: 0;

    border-left: none;
    font-weight: 200;
    cursor: pointer;
}

.goBack:hover {
    background-color: var(--hover_background); 
}

.infoContainer > p {
    max-width: 400px;
    padding: 1rem;
}

.btnsContainer {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
  
}

.btnsContainer > div {
    text-align: center;
    border: 1px solid rgb(224, 221, 221);
    min-width: 15vw;
    padding: 1vh 2vh;
}

.btnsContainer > div:hover {
    cursor: pointer;
    background-color: var(--hover_background); ;
}

.infoTab {
    border: 1px solid rgb(68, 68, 64);
    
    width: 90%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    background: rgb(41, 40, 40);
    z-index: 1;
   
}

.infoTab >.closeBtn {
    position: absolute;
    
    top: .3rem;
    right: .3rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    
}

.closeBtn::after,
.closeBtn::before{
    position: absolute;
    left: 0;
    left: 50%;
    content: '';
    width: .1rem;
    height: 100%;
    background-color: white;
    
}

 .closeBtn::before {
    transform: rotate(45deg);   
}

.closeBtn::after {
    transform: rotate(-45deg);   
} 

.infoTab > .closeBtn:hover::before,
.infoTab > .closeBtn:hover::after {
     scale: .9;
}

.infoTab > .content {
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

.content > h2 {
    border: .1px solid rgb(255, 255, 255);
    padding: .4em 2em;
    border-bottom: none;
    margin: 0;
    /* margin-top: 2em; */
    
    font-size: 2em;
    font-weight: 200;
}
.infoTab > .content > ul {
    list-style: none;
    margin: 0;  
    padding: 0;
}


@keyframes decorOne {
    from {
        transform: rotateY(-20deg);
        opacity: .4;
    }

    50%{
        opacity: .3;
    }

    to {
        transform: translateZ(50%) rotateY(20deg);
        background-color: rgb(97, 97, 97);
       opacity: 0;
       /* scale: .1; */
       /* border-radius: 0; */
    }
}
@keyframes decorTwo {
    from {
        transform:translateX(-600%) rotateX(-180deg) rotateZ(180deg);
        opacity: .5;
    }
    50% {
        transform: rotateY(0);
    }
  to {
    transform:  translateX(100%) rotateX(180deg) rotateZ(-180deg);
    opacity:0;
    background-color: rgb(97, 97, 97);
    }
}

@keyframes leftToRight {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0);
    }
}

@media screen and (max-width: 700px) {
  
    .productionContainer > h2 {
       font-size: 3rem;
       border: 1px solid rgb(172, 172, 172);
       border-top: none;
       text-align: center;
    }

    .goBack {
        padding: .2em .4em;
    }

    .decorationDiv {
        display: none;
    }


    .content {
        justify-content: center;
        padding: 1em;
    }

   .infoContainer{
    gap:6em;
   }
  
}